# Archivos y directorios generados por Vivado
/.Xil/
/_xmsgs/
/TP2-UART.cache/
/TP2-UART.hw/
/TP2-UART.runs/
/TP2-UART.gen/
/TP2-UART.ip_user_files/
/TP2-UART.sim/
*.log
*.jou
*.str

# Configuraciones locales
*.ini
*.xclbin

# Archivos de respaldo generados por editores de texto
*~

# Archivos de registro de compilación
compile.log
